{% extends 'layout.html' %}

{% block body %}
  <div class="header-inline">
    <h2>Active Volunteers</h2>
    <div class="">
      <a class="btn btn-primary" href="{{url_for('volunteers.new_volunteer')}}">New Volunteer</a>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    {% for volunteer in active_vol %}
      <tr>
        <td><a href="{{url_for('volunteers.show_volunteer', id=volunteer.id)}}">{{ volunteer.name }}</a></td>
        <td>{{ volunteer.email }}</td>
        <td>{{ volunteer.role }}</td>
      </tr>
    {% endfor %}
  </table>

  <h2>Inactive Volunteers</h2>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <!-- <th></th> -->
      <!-- <th></th> -->
    </tr>
    {% for volunteer in inactive_vol %}
    <tr>
      <td><a href="{{url_for('volunteers.show_volunteer', id=volunteer.id)}}">{{ volunteer.name }}</a></td>
      <td>{{ volunteer.email }}</td>
      <td>{{ volunteer.role }}</td>
    </tr>
    {% endfor %}

  </table>

{% endblock %}
