{% extends 'layout.html' %}

{% block body %}
<div class="header-inline">
  <h1>{{ volunteer.name }}<small> | {{ volunteer.email }} </small></h1>
  <div>
    {% if volunteer.active == True %}
      <a class="btn btn-primary" href="{{url_for('volunteers.change_status', id=volunteer.id)}}">Mark Inactive</a>
    {% else %}
      <a class="btn btn-primary" href="{{url_for('volunteers.change_status', id=volunteer.id)}}">Mark Active</a>
    {% endif %}
    <a class="btn btn-success" href="{{url_for('volunteers.edit_volunteer', id=volunteer.id)}}">Edit</a>
  </div>
</div>


</div>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Volunteers</th>
      <th>Shoppers</th>
      <th></th>
    </tr>
    {% for openhour in openhours %}
      <tr>
        <td><a href="{{url_for('openhours.show_openhour', id=openhour.id)}}">{{ openhour.date.strftime('%m/%d/%y') }}</a></td>
        <td>
          {% for volunteer in openhour.volunteers %}
            <span> {{volunteer.name}}{{ "," if not loop.last }}</span>
          {% endfor %}
        </td>
        <td>
          {% for shopper in openhour.shoppers %}
            <span>{{shopper.name}}{{ "," if not loop.last }}</span>
          {% endfor %}
        </td>
        {% if not openhour.notes %}
          <td><a class="btn btn-default" href="{{ url_for('openhours.new_notes', id=openhour.id)}}">Add Notes</a></td>
        {% else %}
          <td></td>
        {% endif %}
    </tr>
  {% endfor %}

  </table>

{% endblock %}
