.form {
  max-width: 550px;
  margin: 0 auto;
}

.table {
  max-width: 900px;
  margin: 0 auto;
}

.form h1 {
  font-size: 32px;
}

.form .btn-primary {
  width: 100%;
}

.header-inline {
  width: 100%;
  display: inline-block;
  padding-bottom: 20px;
}

.header-inline a{
  /*float: right;*/
  padding: 15px 10px;
  margin-top: -60px;
}

.header-inline div {
  float: right;
}

.menu-center {
  text-align: center;
}

.menu-center .btn {
  margin-bottom: 20px;
}
