{% extends 'layout.html' %}

{% block body %}
  <h1>Open Hours</h1>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Volunteers</th>
      <th>Shoppers</th>
      <th>Notes</th>
    </tr>
    {% for openhour in openhours %}
      <tr>
        <td><a href="{{openhour.id}}">{{ openhour.date.strftime('%m/%d/%y') }}</a></td>
        <td>
          {% for volunteer in openhour.volunteers %}
            <span> {{volunteer.name}}{{ "," if not loop.last }}</span>
          {% endfor %}
        </td>
        <td>
          {% for shopper in openhour.shoppers %}
            <span>{{shopper.name}}{{ "," if not loop.last }}</span>
          {% endfor %}
        </td>
        {% if openhour.notes %}
          <td>Notes Already Left</a></td>
        {% else %}
          <td><a class="btn btn-default" href="openhours/{{openhour.id}}/notes/new">Add Notes</a></td>
        {% endif %}
    </tr>
  {% endfor %}

  </table>

{% endblock %}
