<!-- {% extends 'layout.html' %}

{% block body %}
  <h1>Date: {{ openhour.date.strftime('%m/%d/%Y') }}</h1>
  <small>Written by {{ author.name }}</small>
  <hr>
  <div class="">
    <ul class="list-group">
      <li class="list-group-item">Volunteers:
        {% for volunteer in openhour.volunteers %}
          <span>{{volunteer.name}}, </span>
        {% endfor %}
      </li>
      <li class="list-group-item">Customers: {{ notes.customers }}</li>
      <li class="list-group-item">Notes: {{ notes.body | safe }}</li>
      <li class="list-group-item">Shopping List: {{ notes.shopping | safe }}</li>
    </ul>
  </div>
{% endblock %} -->
