{% extends 'layout.html' %}

{% block body %}
  <h1>Open Hours</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th></th>
      <th>Date</th>
      <!-- <th>Author</th> -->
      <th>Volunteers</th>
      <th>Shoppers</th>
      <th>Notes</th>
    </tr>
    {% for openhour in openhours %}
      <tr>
        <td><a class="btn btn-danger" href="{{openhour.id}}/post">POST</a></td>
        <td><a class="btn btn-success" href="{{openhour.id}}/edit">Edit</a></td>
        <td>{{ openhour.date.strftime('%m/%d/%Y') }}</td>
        <td>
          {% for volunteer in openhour.volunteers %}
            <span> {{volunteer.name}}{{ "," if not loop.last }}</span>
          {% endfor %}
        </td>
        <td>
          {% for shopper in openhour.shoppers %}
            <span>{{shopper.name}}{{ "," if not loop.last }}</span>
          {% endfor %}
        </td>
        {% if openhour.notes %}
          <td><a href="{{openhour.id}}/notes">View Notes</a></td>
        {% else %}
          <td><a href="{{openhour.id}}/notes/new">Add Notes</a></td>
        {% endif %}
      </tr>
    {% endfor %}

  </table>

{% endblock %}
